@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-principal: #57319c;
  --cor-secundaria: #fff;
  --cor-tercearia: #b097db;
  --cor-quartenario: #745ecd;
  --cor-botao: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: 0.2s linear;
}

body {
  height: 100vh;
}

.img-de-fundo img {
  height: 1280px;
  width: 100%;
  position: absolute;
  top: -13rem;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#titulo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: "Great Vibes", cursive;
  font-size: 50px;
  flex-direction: column;
}

#titulo-section h2 {
  color: var(--cor-tercearia);
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
}

#titulo-section h3 {
  position: relative;
  top: -3rem;
}

#header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #ffffff90;
}

#header-container section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.header-logo img {
  height: 30px;
  display: flex;
  align-items: center;
}

.header-links ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  list-style: none;
}

.header-links a {
  font-size: 18px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.header-links a:hover {
  color: var(--cor-principal);
  transition: 0.4s linear;
  font-size: 20px;
}

/* SECTION HOME */

.container-home {
  position: relative;
  z-index: 99;
}

.container-home section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 5rem auto 5rem;
}

.home-info {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}

.home-info h1 {
  font-size: 5rem;
  margin: -1rem auto -1rem auto;
}

.home-info h4 {
  font-size: 2rem;
  color: var(--cor-principal);
}

.home-info span {
  font-size: 1.6rem;
}

/* SECTION ABOUT ME */

.container-sobre {
  background-color: var(--cor-principal);
  margin-top: 17rem;
  position: relative;
}
.container-sobre section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-sobre .conteudo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.conteudo-container figure {
  border: 10px solid #fff;
  margin: auto auto auto 10rem;
}

.conteudo-container img {
  height: 40rem;
  position: relative;
  top: -1.5rem;
  left: -1.5rem;
}

.sobre-info {
  width: 700px;
  display: flex;
  margin-top: -5rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sobre-info p {
  font-family: "Arvo", serif;
  font-size: 20px;
  color: var(--cor-secundaria);
  text-align: justify;
  text-transform: initial;
}

.sobre-info h3 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: var(--cor-tercearia);
}

.sobre-info .skill img {
  height: 48px;
  margin: 1rem;
}

.sobre-info button {
  background-color: var(--cor-botao);
  color: var(--cor-secundaria);
  width: 30rem;
  margin: auto 0;
  padding: 1rem;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

/* PROJETO */

.container-projeto {
  padding-top: 8rem;
  background-color: var(--cor-principal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.projeto-conteudo {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  margin-top: -3rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  row-gap: 3.5rem;
}

.card-article {
  position: relative;
  overflow: hidden;
}

.card-img {
  display: block;
  width: 400px;
  border-radius: 1.5rem;
  max-width: 100%;
  height: auto;
}

.card-data {
  width: 280px;
  background-color: var(--cor-secundaria);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -15rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  font-family: "Arvo", serif;
  z-index: 97;
}

.card-titulo {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--cor-principal);
  margin-bottom: 4px;
}

.card-descricao {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.card-button {
  font-weight: 500;
  font-size: 14px;
  color: var(--cor-botao);
}

.card-button:hover {
  text-decoration: underline;
}

.card-article:hover .card-data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card-article:hover {
  animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

.img-de-fundo-invertido img {
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

/* SECTION CONTATO */

#titulo-contato {
  position: relative;
  top: -12rem;
  width: 28rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
  text-align: center;
  font-family: "Great Vibes", cursive;
  color: #fff;
  background-color: var(--cor-quartenario);
  border-radius: 30px;
  margin-left: 13rem;
  z-index: 10;
}

#titulo-contato h2 {
  color: var(--cor-tercearia);
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  padding-top: 2rem;
}

#titulo-contato h3 {
  position: relative;
  top: -3rem;
  color: var(--cor-secundaria);
}

.container-contato {
  margin-top: -30rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contato-conteudo{
  position: relative;
  row-gap: 0;
}

.contato-email{
  position: relative;
  left: -2rem;
  width: 40rem;
  padding: 5rem 3.5rem 2.5rem;
  background-color: var(--cor-tercearia);
  transition: background-color .4s;
  border-radius: 30px;
}

.form-titulo{
  color: var(--cor-secundaria);
  font-size: 30px;
  margin-bottom: 2rem;
}

.contato-form,
.contato-grupo{
  display: grid;
  row-gap: 2rem;
}

.contato-form{
  position: relative;
}

.contato-box{
  position: relative;
  width: 100%;
  height: 58px;
}

.contato-input,
.contato-button{
  font-family: "Arvo", serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 12px;
}

.contato-input{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--cor-tercearia);
  border: 3px solid var(--cor-secundaria);
  color: var(--cor-secundaria);
  padding: .5rem 1rem;
  transition: border .4s, background-color .4s;
}

.contato-input::placeholder{
  color: var(--cor-secundaria);
  transition: opacity .4s;
}

.contato-input:focus{
  border: 3px solid --cor-quartenario;
}

.contato-input::webkit-autofill{
transition: background-color 6000s color 6000s;
}

.contato-label{
  position: absolute;
  top: -18px;
  left: 10px;
  color: var(--cor-secundaria);
  background-color: var(--cor-tercearia);
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 0;
}

.contato-form .contato-area{
  height: 15rem;
}

.contato-area textarea{
  resize: none;
  padding-top: 1rem;
}

.contato-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--cor-botao);
  border-radius: 15px;
  cursor: pointer;
  color: var(--cor-secundaria);
  height: 3rem;
}

.contato-input:focus::placeholder{
  opacity: 0;
}

.contato-input:focus + .contato-label,
.contato-input:not(:placeholder-shown).contato-input:not(:focus) + .contato-label{
  opacity: 1;
  top: -18px;
}

.contato-social{
  display: grid;
  row-gap: 1rem;
  background-color: hsl(0, 0%, 10%);
  padding-block: 1rem 2rem;
  text-align: center;
}

.contato-social-data{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}


   /* RESPONSIVIDADE  */

   @media (max-width: 430px) {

     .header-links ul{
       display:none;
     }

    #titulo-section h2{
      font-size: 40px;
    }

    #titulo-section h3{
      font-size: 40px;
      top: -1.6rem;
    }

    #header-container section {
      width: 100%;
    }

    .header-logo img {
      height: 25px;
      margin: auto 5rem auto -1rem ;
    }

    .header-links ul{
      display:none;
    }

    .header-links a{
      font-size: 17px;
    }

    .img-de-fundo img {
      width: 100%;
      top: 1px;
    }

    .container-home section{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      width: 100%;
    }

    .home-info{
      width: 100%;
      margin-left: -3rem;
    }

    .home-info h1{
      font-size: 50px;
    }

    .home-info h4{
      font-size: 20px;
    }

    .home-info span{
      font-size: 16px;
    }

    .home-img img{
      height: 360px;
      margin-left: -6rem;
    }

    .container-sobre{
      margin-top: 14.8rem;
    }

    .container-sobre section{
      top: -10rem;
  }


  .conteudo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .conteudo-container figure{
    height: 410px;
    margin: auto;
  }

  .conteudo-container img{
    height: 400px;
  }

  .sobre-info{
    margin-top: 3rem;
    margin-left: 2rem;
    width: 80%;
  }

  .sobre-info p{
    font-size: 17px;
  }

  .sobre-info button{
    width: 60%;
    margin-top: -2rem;
    margin-bottom: 2rem;
  }

  .container-projeto{
    padding-top: 2rem;
  }

  .card-container{
    display: flex;
    flex-direction: column;
  }

  .card-img{
    height: 280px;
    border-radius: 2rem;
  }

  #titulo-contato{
    width: 260px;
    padding: 0 1rem;
    margin-left: 1rem;
    top: 2rem;
  }

  #titulo-contato h2{
    font-size: 40px;
  }

  #titulo-contato h3{
    font-size: 40px;
    top: -2rem;
  }

  .container-contato{
    margin-top: 6px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
  } 

  .contato-email{
    width: 100%;
    left: 1rem;
  }



  }




